@use "base/variables" as vr;
@use "base/mixins" as mxn;
.barra{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    @include mxn.tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion{
    @include mxn.tablet{
        display: flex;
        align-items: center;
    }

    a{
        color: vr.$blanco;
        display: block;
        text-align: center;
        font-size: 2.2rem;

        @include mxn.tablet{
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}