@use "base/variables" as vr;
@use "base/mixins" as mxn;

.contenedor-app{
    @include mxn.tablet{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        min-height: 100vh;
    }

    .img{
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        height: 20rem;
        @include mxn.tablet{
            height: auto;
        }
    }

    .app{
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include mxn.tablet{
            overflow: scroll;
        }
    }
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: vr.$separacion 0 vr.$separacion / 2 0 ;

    .boton{
        @include mxn.boton(vr.$negro,vr.$blanco);
        &:hover {
            background-color: darken(vr.$gris, 50%);
        }
        margin: 0;
        width: 25rem;
    }
}

.barra-servicios{
    margin-bottom: vr.$separacion;

    .boton{
        margin: 0 0 1rem 0;
    }

    @include mxn.tablet{
        display: flex;
        justify-content: space-between;
    }
}