@use "base/variables" as vr;
@use "base/mixins" as mxn;

.barra-mobile{
    background-color: vr.$indigo;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mxn.tablet{
        display: none;
    }

    h1{
        color: vr.$blanco
    }

    .menu{
        img{
            width: 1rem;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.barra{
    display: none;

    @include mxn.tablet{
        background-color: vr.$blanco;
        padding: 1rem 2rem;
        box-shadow: 1px 12px 9px -13px vr.$grisOscuro;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p{
        margin: 0;
        font-size: 1.7rem;

        span{
            font-weight: 700;
            color: vr.$indigo;
        }
    }

    .cerrar-sesion{
        @include mxn.boton(darken(vr.$indigo, 10%), vr.$blanco);
        font-size: 1.7rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }
}