@use "base/variables" as vr;
@use "base/mixins" as mxn;

.barra{
    background-color: vr.$blanco;
    padding: 1rem 2rem;
    box-shadow: 1px 12px 9px -13px vr.$grisOscuro;

    @include mxn.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p{
        margin: 0;
        font-size: 1.7rem;

        span{
            font-weight: 700;
            color: vr.$indigo;
        }
    }

    .cerrar-sesion{
        @include mxn.boton(darken(vr.$indigo, 10%), vr.$blanco);
        font-size: 1.7rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }
}