@use "base/variables" as vr;
@use "base/mixins" as mxn;

.contenedor-nueva-tarea{
    display: flex;
    justify-content: center;

    .agregar-tarea{
        @include mxn.boton(vr.$cyan, vr.$blanco);
    }
}

.listado-tareas{
    list-style: none;
    padding: 0;
    margin-top: 3rem;

    .no-tareas{
        text-align: center;
    }
}

.tarea{
    padding: 0.5rem;
    border-bottom: 2px solid lighten(vr.$gris, 20%);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type{
        border: none;
    }
    
    p{
        font-size: 2rem;
    }

    .opciones{
        display: flex;
        gap: 1rem;

        button{
            border: none;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 1rem;

            &:hover{
                cursor: pointer;
            }
        }

        .completa{
            background-color: vr.$azul;
            color: vr.$blanco;
        }

        .pendiente{
            background-color: vr.$naranja;
            color: vr.$blanco;
        }

        .eliminar-tarea{
            background-color: vr.$rojo;
            color: vr.$blanco;
        }

    }
}