@use "base/variables" as vr;

.alerta{
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 1rem 0;
    font-size: 1.4rem;
    max-width: 80rem;

    &.error{
        background-color: lighten(vr.$rojo, 50%);
        border-left: 0.5rem solid vr.$rojo;
        color: vr.$rojo;
    }

    &.exito{
        background-color: lighten(vr.$verde, 50%);
        border-left: 0.5rem solid vr.$verde;
        color: vr.$verde;
    }
}