@use "base/variables" as vr;

.footer{
    background-color: vr.$grisOscuro;
    padding: 2.5rem 0;
    margin-bottom: 0;

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .contenido-footer{
        padding-top: 2.5rem;
    }
    
    .copyright{
        color: vr.$blanco;
        text-align: center;
    }
}
