@use "base/variables" as vr;
@use "base/mixins" as mxn;

.agenda{
    padding: 2rem 0;
    @include mxn.contenedor;
}

.eventos{
    $modificador: &;

    &__heading{
        color: vr.$azul;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, -0.8rem + 8vw, 6rem);
    }

    &__fecha{
        color: vr.$gris;
        margin: 3rem 0 1rem 0;
    }

    &--workshops{
        #{$modificador}__heading{
            color: vr.$secundario;
        }

        .evento__informacion{
            background-color: vr.$secundario;

            &:hover{
                background-color: darken(vr.$secundario, 10%);
            }
        }
    }

    .swiper-button-next, .swiper-button-prev{
        color: rgba(vr.$blanco,0.5);
    }
}

.evento{
    &__hora{
        font-weight: vr.$bold;
    }

    &__informacion{
        padding: 2rem;
        border-radius: 1rem;
        background-color: vr.$azul;
        color: vr.$blanco;
        transition: 300ms background-color ease;

        &:hover{
            background-color: darken(vr.$azul, 10%);
        }
    }

    &__nombre{
        font-size: 2rem;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__autor-info{
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    &__introduccion{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__imagen-autor{
        width: 5rem;
        background-color: vr.$blanco;
        border-radius: 50%;
    }

    &__autor-nombre{
        font-weight: vr.$bold;
    }
}