@use "variables" as vr;
.seccion {
    margin-top: calc(vr.$separacion / 2);
    margin-bottom: calc(vr.$separacion / 2);
}

.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}

.w-100{
    width: 100%;
}
