@use "base/variables" as vr;
@use "base/mixins" as mxn;

.dashboard{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: vr.$gris-claro;

    &__header{
        background-color: vr.$gris-oscuro;
        padding: 2rem;
    }

    &__header-grid{
        display: flex;
        flex-direction: column;

        @include mxn.tablet{
            flex-direction: row;
            justify-content: space-between;
            align-items: center
        }
    }

    &__form{
        display: flex;
        justify-content: center
    }

    &__logo{
        @include mxn.logo;
        @include mxn.texto-fluido(2rem,3rem);
    }

    &__submit--logout{
        @include mxn.enlace;
    }

    &__grid{
        display: flex;
        flex: 1;
        overflow-y: auto;
    }

    &__sidebar{
        background-color: lighten(vr.$gris-oscuro,10%);
        width: 12rem;
    }

    &__menu{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__enlace{
        color: lighten(vr.$gris-oscuro, 50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        transition: 300ms background-color ease-in-out, 300ms color ease, 300ms border-radius ease;

        &:hover, &--actual{
            background-color: lighten(vr.$gris-oscuro, 20%);
            color: vr.$blanco;
            border-radius: 1rem;
        }
    }

    &__icono{
        font-size: 2rem;
    }

    &__menu-texto{
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: vr.$bold;
        margin-top: 0.5rem;
    }

    &__contenido{
        width: 100%;
        padding: 1rem 1rem 3rem 1rem;
        overflow-y: auto;

        @include mxn.tablet{
            padding: 1rem 5rem 3rem 5rem;
        }
    }

    &__contenedor-boton{
        @include mxn.tablet{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 4rem;
        }
    }

    &__boton{
        @include mxn.boton(vr.$azul,vr.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 2rem;

        @include mxn.tablet{
            width: auto;
        }
    }

    &__contenedor{
        @include mxn.shadow;
        background-color: vr.$blanco;
        padding: 2rem;
        border-radius: 1rem;
    }

    &__formulario{
        @extend .dashboard__contenedor;
        @include mxn.contenedor-md;

    }

    &__grafica{
        @include mxn.contenedor-md;
    }
}