@use "base/variables" as vr;
@use "base/mixins" as mxn;

.horas{
    @include mxn.reset-lista;
    @include mxn.grid(1,1rem);
    @include mxn.tablet{
        @include mxn.grid(2,1rem);
    }
    
    &__hora{
        color: vr.$azul;
        border: 1px solid vr.$azul;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;

        &:hover{
            cursor: pointer;
        }

        &--seleccionada{
            @extend .horas__hora;
            background-color: vr.$azul;
            color: vr.$blanco;
        }

        &--desactivada{
            @extend .horas__hora;
            border: 1px solid vr.$gris;
            color: vr.$gris;
            opacity: 0.5;

            &:hover{
                cursor: not-allowed;
            }
        }
    }
}