@use "base/variables" as vr;
@use "base/mixins" as mxn;


.listado-tags{
    @include mxn.reset-lista;
    @include mxn.grid(1,1rem);
    gap: unset;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    background-color: #323741;

    &__tag{
        color: vr.$blanco;
        padding: 1rem;
        margin: 0.7rem;
        border-radius: 1rem;
        text-align: left;


        &:hover{
            cursor: pointer;
            background-color: #51586c;
            border-radius: 0.5rem;
        }

        &--seleccionado{
            @extend .listado-tags__tag;
            background-color: vr.$azul;
            color: vr.$blanco;
        }
    }

    &__no-resultado{
        text-align: center;
        color: vr.$blanco;
    }
}

.scroll{
    height: auto;

    &-mostrar{
        border-radius: 1rem;
        height: 28rem;
        overflow: auto;
    }
}
