@use "base/variables" as vr;
@use "base/mixins" as mxn;

.header{
    min-height: 40rem;
    background-image: url(../img/grafico.svg), url(../img/grafico.svg), linear-gradient(to right, rgba(vr.$negro, 1), rgba(vr.$negro, 0.5)), image-set(url(../img/header.avif) 1x, url(../img/header.webp) 1x, url(../img/header.jpg) 1x);
    background-repeat: no-repeat;
    background-size: 40rem, 40rem, cover, cover;
    background-position: top left, bottom right, center center, center center;

    &__contenedor{
        @include mxn.contenedor;
    }

    &__nav{
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        gap: 2rem;

        @include mxn.tablet{
            justify-content: flex-end;
        }
    }

    &__enlace{
        color: vr.$blanco;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: vr.$bold;

        &:hover{
            color: vr.$azul;
        }
    }

    &__contenido{
        padding-top: 5rem;

        @include mxn.tablet{
            padding-top: 3rem;
        }
    }

    &__logo{
        @include mxn.texto-fluido(3rem, 8rem);
        @include mxn.degradado(vr.$azul, vr.$secundario);
        text-align: center;

        @include mxn.tablet{
            text-align: left;
            display: inline-block
        }
    }

    &__texto{
        font-size: 3rem;
        font-weight: vr.$bold;
        color: vr.$blanco;
        margin: 2rem 0;
        text-align: center;
        text-transform: uppercase;

        @include mxn.tablet{
            text-align: left;
        }

        &--modalidad{
            font-size: 1.5rem;
        }
    }

    &__btn{
        @include mxn.boton(vr.$secundario, vr.$blanco);
        text-transform: uppercase;
        margin: 2rem 0;

        @include mxn.tablet{
            width: auto;
        }
    }
}