@use "base/variables" as vr;
@use "base/mixins" as mxn;

.sobre-festival{
    padding: 5rem 0;

    @include mxn.tablet {
        @include mxn.grid(2,4rem);
    }

}
.contenido-festival{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mxn.tablet {
        margin-top: 0;
    }
    h2{
        margin-bottom: 2rem;
    }

    .fecha{
        color: vr.$rosa;
        font-weight: bold;
    }
}