@use "base/variables" as vr;
@use "base/mixins" as mxn;

.header{
    background-color: vr.$aqua;
    padding: 2rem;
    &.fijo{
        top: 0;
        position: fixed;
        width: 100%;
    }

    h1{
        color: vr.$blanco;
        text-align: center;
        margin-bottom: 3rem;
        
        @include mxn.tablet {
            margin: 0;
        }
    }
    
    .contenido-header{

        @include mxn.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.navegacion-principal{
    a{
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        color: vr.$blanco;
        font-size: 2.4rem;

        @include mxn.tablet {
            margin: 0;
        }

        &:hover{
            color: vr.$amarillo;
        }
    }

    @include mxn.tablet {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
}